<h1>Nombre: {{selected_starships.name}}</h1>
<p>MGLT: {{selected_starships.MGLT}}</p>
<p>Consumables: {{selected_starships.consumables}}</p>
<p>Costo en creditos: {{selected_starships.cost_in_credits}}</p>
<p>Crew: {{selected_starships.crew}}</p>
<p>Hyperdrive rating: {{selected_starships.hyperdrive_rating}}</p>
<p>Longitud: {{selected_starships.length}}</p>
<p>Manufacturer: {{selected_starships.manufacturer}}</p>
<p>Maxima velocidad atmosferica: {{selected_starships.max_atmospgering_speed}}</p>
<p>Modelo: {{selected_starships.model}}</p>
<p>Pasajeros: {{selected_starships.passengers}}</p>
<p>Clase: {{selected_starships.starship_class}}</p>
<p>Creado: {{selected_starships.created}}</p>
<p>Editado: {{selected_starships.edited}}</p>

<p>----- Peliculas en las que aparece -----</p>
<div class="" *ngFor="let fil of selected_starships.films">
  <a href="/pelicula/{{fil.title}}">  {{fil.title}}</a>
</div>

<p>--------Pilotos--------</p>
<div class="" *ngFor="let pil of selected_starships.pilots">
  <a href="/persona/{{pil.name}}">  {{pil.name}}</a>
</div>
